@import "tailwindcss";
@import "@uix/tokens/tokens.css";
@import "@uix/tokens/shadcn-bridge.css";
@import "@uix/tokens/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* @uix-overrides */
:root {
  --uix-brand: #0088FF;
  --uix-brand-fg: #FFFFFF;
}
:root:where(.dark, [data-theme="dark"]) {
  --uix-brand: #0091FF;
}
/* @uix-overrides-end */
